
@{
    ViewData["Title"] = "Takvim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="center-align">
        <h1> Takvim Sayfası </h1>
        <a href="mailto:emailadress?subject=Myemail&body=sometext&attach=c:\\girisindex.txt">Example link</a>
        </div>
