
@{
    ViewData["Title"] = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>

<!--<input type="file" accept="image/x-png,image/jpeg,image/gif" />-->
<div class="row" style="margin-top:20px">
    <img src="~/karaman.png" style="width: 100px" />
    <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small red lighten-1 secondary-content" style="margin-top:5px"><b style="color:white"> Geri </b></a>
</div>
<div class="card-title center">
    <p><b style="font-size:20px">Yeni İş Kaydı</b></p>
</div>
<div class="card">
    <div class="card-content">
        <form class="col s12">
            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi">Proje Adı :</label>
                </div>
            </div>

            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi">Yetkili Kişi :</label>
                </div>
            </div>

            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi">Yetkili Telefon :</label>
                </div>
            </div>

            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi"> Proje Adı :</label>
                </div>
            </div>

            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi">Lokasyon : </label>
                </div>
            </div>

            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi">Tarih : </label>
                </div>
            </div>

            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi">Saat : </label>
                </div>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Lütfen birini seçiniz</option>
                    <option value="1">Devreye Alma</option>
                    <option value="2">Test</option>
                    <option value="3">Montaj</option>
                    <option value="4">Süpervizörlük</option>
                    <option value="5">İşçilik</option>
                </select>
                <label style="margin-left:-12px">
                    İşin Konusu :
                </label>
            </div>

            <div class="col s12">
                <div class="input-field">
                    <input id="proje_adi" type="text">
                    <label for="proje_adi"> İşin Açıklaması :</label>
                </div>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Lütfen birini seçiniz</option>
                    <option value="1">Ücretli</option>
                    <option value="2">Ücretsiz</option>
                    <option value="3">Bakım</option>
                    <option value="4">Sözleşme Dahilinde</option>
                </select>
                <label style="margin-left:-12px">
                    İşin Cinsi :
                </label>
            </div>

            <div class="input-field col s12">
                <select multiple>
                    <option value="" disabled>Lütfen birini seçiniz</option>
                    <option value="1">Eyüp Çelik</option>
                    <option value="2">Enes Zeybekoğlu</option>
                    <option value="3">M. Ali Karaman</option>
                    <option value="4">Mesut Karaman</option>
                    <option value="5">Yüksel Tunç</option>
                </select>
                <label style="margin-left:-12px">
                    İlgili Personeller :
                </label>
            </div>

            <div class="row" style="margin-left: 3px; margin-right:3px ">
                <div class="file-field input-field">
                    <div class="btn-small">
                        <span>Fotoğraf Yükle</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="center-align">
                <a href="@Url.Action("Index", "Anasayfa")" class="waves-effect waves-light btn-small  grey darken-3"><b style="color: white"> Kaydet </b></a>
            </div>
        </form>
    </div>
</div>

