<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Karaman Teknoloji</title>
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="manifest" href="~/manifest.json" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
</head>
<style>
    p {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
    }

    b {
        font-family: 'Roboto Condensed', sans-serif;
        color: black;
    }

    i {
        color: black;
    }

    a {
        color: black;
    }
</style>
<body>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<environment include="Development">
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/materialize.min.js"></script>
</environment>

<environment exclude="Development">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/materialize.min.js"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
